In [1]:
import pandas as pd #importing pandas library
import numpy as np #importing numpy library
import re #importing re library
from better_profanity import profanity #importing profinity checker from better_profanity 
train = pd.read_csv("tweets.csv") #importing the dataset

In [2]:
train

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [3]:
# we’ll create a regular expression that allows us to pinpoint and remove the Twitter handles from our tweets

def remove_pattern(input_txt, pattern):
  r = re.findall(pattern, input_txt)
  for i in r:
    input_txt = re.sub(i, '', input_txt)

  return input_txt

train['Clean_tweet'] = np.vectorize(remove_pattern)(train['tweet'], "@[\w]*")

In [4]:
# We can remove the special characters, numbers, and punctuation with a simple script.

train['Clean_tweet'] = train['Clean_tweet'].str.replace("[^a-zA-Z#]", " " )

C:\Users\UJJWAL~1.KUM\AppData\Local\Temp/ipykernel_34500/2749609895.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  train['Clean_tweet'] = train['Clean_tweet'].str.replace("[^a-zA-Z#]", " " )

In [5]:
# Then we’ll remove the short words that add no value
train['Clean_tweet'] = train['Clean_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [6]:

train

,id,label,tweet,Clean_tweet
0,1,0,@user when a father is dysfunctional and is s...,when father dysfunctional selfish drags kids i...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks #lyft credit cause they offer wheelchai...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model love take with time
4,5,0,factsguide: society now #motivation,factsguide society #motivation
...,...,...,...,...
31957,31958,0,ate @user isz that youuu?ðððððð...,that youuu
31958,31959,0,to see nina turner on the airwaves trying to...,nina turner airwaves trying wrap herself mantl...
31959,31960,0,listening to sad songs on a monday morning otw...,listening songs monday morning work
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",#sikh #temple vandalised #calgary #wso condemns
31961,31962,0,thank you @user for you follow,thank follow

In [7]:
# dropping unncessary columns
train.drop(['id','label','tweet'],axis=1)

                                             Clean_tweet
0      when father dysfunctional selfish drags kids i...
1      thanks #lyft credit cause they offer wheelchai...
2                                    bihday your majesty
3                             #model love take with time
4                         factsguide society #motivation
...                                                  ...
31957                                         that youuu
31958  nina turner airwaves trying wrap herself mantl...
31959                listening songs monday morning work
31960    #sikh #temple vandalised #calgary #wso condemns
31961                                       thank follow

[31962 rows x 1 columns]

In [8]:
# applying profinity checker to each clean tweet
train['Clean_tweet'] = train['Clean_tweet'].apply(lambda x: profanity.censor(x))

In [9]:
train

,id,label,tweet,Clean_tweet
0,1,0,@user when a father is dysfunctional and is s...,when father dysfunctional selfish drags kids i...
1,2,0,@user @user thanks for #lyft credit i can't us...,thanks #lyft credit cause they offer wheelchai...
2,3,0,bihday your majesty,bihday your majesty
3,4,0,#model i love u take with u all the time in ...,#model love take with time
4,5,0,factsguide: society now #motivation,factsguide society #motivation
...,...,...,...,...
31957,31958,0,ate @user isz that youuu?ðððððð...,that youuu
31958,31959,0,to see nina turner on the airwaves trying to...,nina turner airwaves trying wrap herself mantl...
31959,31960,0,listening to sad songs on a monday morning otw...,listening songs monday morning work
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",#sikh #temple vandalised #calgary #wso condemns
31961,31962,0,thank you @user for you follow,thank follow

In [12]:
# if it has bad words the degree_of_profanity will be 1 else 0
train["degree_of_profanity"] =  train["Clean_tweet"].apply(lambda x: 1 if "*" in x else 0 )

In [13]:
#Final data with degree_of_profanity
train.sort_values(by= ["degree_of_profanity"])

,id,label,tweet,Clean_tweet,degree_of_profanity
0,1,0,@user when a father is dysfunctional and is s...,when father dysfunctional selfish drags kids i...,0
21059,21060,0,i am thankful for internet. #thankful #positiv...,thankful internet #thankful #positive,0
21058,21059,0,âhappy hollidaysâ by @user on #funny #f...,happy hollidays #funny #fun #kids #baby #plays...,0
21057,21058,0,@user to see you,,0
21056,21057,0,who says we deserve punishment?? we haven't ki...,says deserve punishment haven killed anyone br...,0
...,...,...,...,...,...
17811,17812,0,all i wanted to be doing right now was getting...,wanted doing right getting **** nappers,1
17808,17809,0,@user this used to be my facial expression wh...,this used **** expression when parents gave mo...,1
2352,2353,0,bitch pleaaaseee!! ð â¡ï¸ #like4tag #likef...,**** pleaaaseee #like #likefoag #like like #li...,1
2376,2377,0,that coach should be force fed hot shit with a...,that coach should force **** with spoon,1
15574,15575,0,sick of feeling down and stupid sorry to every...,sick feeling down **** sorry everyone messed w...,1